.recordbox {
  padding: 2em;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1em;
}

.recordersitem {
  width: 13em;
  height: 13em;
  border: 1px solid rgb(204, 190, 190);
}

.recordimg {
  width: 12em;
  height: 7em;
  padding: 1em;
  margin: 0 auto;
}

.textbox {
  height: 4.5em;
  margin: auto;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox h2 {
  font-weight: bolder;
  font-size: 1.2em;
}
