.btn {
  font-family: sans-serif;
  text-align: center;
}

.secuCamBox {
  width: 90%;
  padding-top: 2em;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1.5em;
}
