.testiSection {
  background: rgba(255, 255, 255, 0.883);
  padding: 0 6em;
  width: 100%;
}

.testiBox {
  background: rgba(248, 223, 223, 0.972);
  height: 40vh;
  width: 80vw;
  margin: 0 auto;
  padding: 1em 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.starBox {
  height: 6em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
